// Third party libraries
// ---------------------

@import '~normalize.css/normalize';
@import '~scut/dist/scut';

// Project-specific styles
// -----------------------

@import '~src/scss/vars';
@import '~src/scss/overrides';

.test-background {
    background-image: url('~assets/images/this-is-fine.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: $baseunit * 5;
    height: $baseunit * 5;
}
