@import '~normalize.css/normalize';
@import '~scut/dist/scut';

@import '~src/scss/vars';
@import '~src/scss/overrides';

.test-background {
    height: $baseunit * 5;
    width: $baseunit * 5;
    background-image: url('~assets/images/this-is-fine.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
